@import "star.css";
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background:#1e272e;
}
.warp{
    width: 100%;
    height: 100%;
    /*background-color: sandybrown;*/
    position: relative;
    transform: rotate(45deg);
}
.star{
    width: 20px;
    height: 2px;
    background: linear-gradient(-45deg,#c7ecee,rgba(0,0,255,0));
    position: absolute;
    border-radius: 50%;
    filter: drop-shadow(0 0 6px #c7ecee);
    animation: scaling 3s ease-in-out infinite,moveTo 3s ease-in-out infinite;
}
@keyframes scaling {
    0%{
        width: 0px;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 0px;
    }
}
@keyframes moveTo {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(500px);
    }
}
